-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    
    %tr
      -if flash[:mSorted]
        %th.hilite= link_to "Movie Title", movies_path( mSorted: true)
      -else 
        %th= link_to "Movie Title", movies_path( mSorted: true)
        
      %th Rating

      -if flash[:rSorted] 
        %th.hilite= link_to "Release Date", movies_path( rSorted: true)
      -else
        %th= link_to "Release Date", movies_path( rSorted: true)
        
      %th More Info
  %tbody
    - if flash[:mSorted] == true
      -sorted = @movies.order(:title)
      -sorted.each do |movie|
        %tr
          %td= movie.title
          %td= movie.rating
          %td= movie.release_date
          %td= link_to "More about #{movie.title}", movie_path(movie)
    - elsif flash[:rSorted] == true
      -sorted = @movies.order(:release_date)
      -sorted.each do |movie|
        %tr
          %td= movie.title 
          %td= movie.rating
          %td= movie.release_date
          %td= link_to "More about #{movie.title}", movie_path(movie)
    - else
      - @movies.each do |movie|
        %tr
          %td= movie.title 
          %td= movie.rating
          %td= movie.release_date
          %td= link_to "More about #{movie.title}", movie_path(movie)


= link_to 'Add new movie', new_movie_path

